@charset "UTF-8";

/*GLOBALS*/

#wrapper {
  min-width:1170px ;
  margin: 0 auto;
  height: 500px;
  position: relative;
  color: #fff;
  text-shadow: rgba(0, 0, 0, 0.1) 2px 2px 0px;
  box-sizing: border-box;
}

.slideshow-container {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  margin: auto;
  margin-top: 0px;
  color: #fff;
  text-shadow: rgba(0, 0, 0, 0.1) 1px 1px 0px;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

.mySlideDiv {
  float: left;
  position: relative;
  width: 100%;
  height: 100%;

  img {
    display: block;
    width: 100%;
    height: 100%;
  }

  .sltext {
    position: absolute;
    top:330px;
    left:100px;
    

    h3 {
      font-size: 18px;      
      text-transform: uppercase;
      margin: 20px 0;
    }

    span {
      text-shadow: rgba(0, 0, 0, 0.1) 2px 2px 0px;
      text-transform: uppercase;
      font-size: 18px;      
    }
  }
}

/* Next & previous buttons */
.btns {
  position: absolute;
  width: 50px;
  height: 60px;
  top: 60%;
  margin-top: -25px;
  line-height: 57px;
  text-align: center;
  cursor: pointer;
  background: rgba(0, 0, 0, 0.1);
  z-index: 100;
  color: white;

  &:hover {
    background: rgba(0, 0, 0, 0.3);
  }

  -webkit-transition: all 0.1s ease;
  -moz-transition: all 0.1s ease;
  -o-transition: all 0.1s ease;
  -ms-transition: all 0.1s ease;
  transition: all 0.1s ease;
}

#next {
  right: 0px;
}

#previous {
  left: 0px;
}

/* effect */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: .4
  }

  to {
    opacity: 1
  }
}

@keyframes fade {
  from {
    opacity: .4
  }

  to {
    opacity: 1
  }
}
